{{> head}}
{{> header}}

<section class='aboutBody'>
  <div id="heroImg">
  </div>
  <div class="heroSection">
  </div>
  <div class="heroText">
      <h1 class='aboutTitle'>{{title}}</h1>
      <p class='aboutMessage'>{{screamIt welcomeMessage}}</p>
  </div>
</section>
<div class='mainBody aboutPage'>
  <section class="introText aboutSections">
    <p class='sectiontext'>Body Text </p>
  </section>
</div>

{{> footer}}
