{{> head}}
{{> header}}

<section class='contactBody'>
  <div id="heroImg">
  </div>
  <div class="heroSection">
  </div>
  <div class="heroText">
      <h1 class='contactTitle'>{{title}}</h1>
      <p class='contactMessage'>{{screamIt welcomeMessage}}</p>
  </div>
</section>
<div class='mainBody contactPage'>
  <section class="introText contactSections">
    <p class='sectiontext'>Body Text </p>
  </section>
</div>

{{> footer}}
