{{> head}}
{{> header}}

<section class='homeBody'>
  <div id="heroImg">
  </div>
  <div class="heroSection">
  </div>
  <div class="heroText">
      <h1 class='homeTitle'>{{title}}</h1>
      <p class='homeMessage'>{{screamIt welcomeMessage}}</p>
  </div>
</section>
<div class='mainBody homePage'>
  <section class="introText homeSections">
    <p class='sectiontext'>Body Text </p>
  </section>
</div>

{{> footer}}
