{{#each parks}}
{{#if _id }}<p class='parkId'>{{_id}}</p>{{/if}}
{{#if name }}<p id='name' class='parkName'>{{name}}</p>{{/if}}
{{#if description}}<p class='parkDescription'>{{description}}</p>{{/if}}
{{/each}}
